<div class="large-6 medium-6 columns"><%= render "devise/registrations/new" %></div>
<div class="large-6 medium-6 columns">
  <div class="row">	
	<div class="medium-4 small-6 columns">
		<%= image_tag "first.png", size: "150x150" %>
	</div>
	<div class="medium-8 small-6 columns" style="padding-top: 2em">
		<h5>Create or join the best contests on earth</h5>
	</div>
  </div>
  <div class="row">  		
	<div class="medium-4 small-6 columns">
		<%= image_tag "second.png", size: "150x150" %>
	</div>
	<div class="medium-8 small-6 columns" style="padding-top: 1em">
		<h5>Win the contest and grab the opportunity to know the coolest/hottest people in town</h5>
	</div>
  </div>
  <div class="row"> 		
	<div class="medium-4 small-6 columns">
		<%= image_tag "third.png", size: "150x150" %>
	</div>
	<div class="medium-8 small-6 columns" style="padding-top: 3em">
		<h5>Plan and have a perfect date</h5>
	</div>
  </div>  
  <div class="row">		
	<div class="medium-4 small-6 columns">
		<%= image_tag "forth.png", size: "150x150" %>
	</div>
	<div class="medium-8 small-6 columns" style="padding-top: 3em">
		<h5>Train harder and get other great dates</h5>
	</div>
  </div> 		
</div>