<div class="row">

<div class="row">	
	<div class="large-6 medium-8  small-10 columns" style="margin:10px">	
	<h2>Resend confirmation instructions</h2>

	<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
	  <%= devise_error_messages! %>

	  <div><%= f.label :email %><br />
	  <%= f.email_field :email, autofocus: true, class: "radius" %></div>

	  <div><%= f.submit "Resend confirmation instructions", class:"button small success radius" %></div>
	<% end %>
	</div>

	<div class="large-6 medium-4 small-2 columns" ></div>

</div>
