<br/>
<div class="row" id="signupform" style="background-color:rgba(74,150,173,0.5); margin: 0.5em; border-radius: 10px">
	<div class="small-11 small-centered columns">
		<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
		  <%= devise_error_messages! %>

		  <%= f.label :name %>
 		  <%= f.text_field :name, :autofocus => true %>

		  <%= f.label :email %>
		  <%= f.email_field :email, autofocus: true %>

		  <%= f.label :password %> <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %>
		    <%= f.password_field :password, autocomplete: "off" %>

		  <%= f.label :password_confirmation %>
		    <%= f.password_field :password_confirmation, autocomplete: "off" %>

		  <h3 class="text-center"><%= f.submit "Sign up", class:"button radius  alert small" %></h3>
		<% end %>
	</div>
</div>	
<style type="text/css">
	label {
		color: white;
		margin: 2em 0em 1em;
	}
</style>
