			<h4>Who I am <a data-remote="true" href="/preferences/<%= @user_preference.id %>/edit_intro" style="margin-left: 1em"><%= image_tag 'edit_button.png', size: "30x30" %></a></h4>
			<p id="preferenceintro"><%= @user_preference.intro %></p>
			<h4>My passion <a data-remote="true" href="/preferences/<%= @user_preference.id %>/edit_passion" style="margin-left: 1em"><%= image_tag 'edit_button.png', size: "30x30" %></a></h4>
			<p id="preferencepassion"><%= @user_preference.passion %></p>
			<h4>I'm interest in <a data-remote="true" href="/preferences/<%= @user_preference.id %>/edit_interest" style="margin-left: 1em"><%= image_tag 'edit_button.png', size: "30x30" %></a></h4>
			<p id="preferenceinterest"><%= @user_preference.interest %></p>
