<div class="row" style="margin-top: 3em; margin-bottom: 8em">
	<div class="large-6 medium-8 small-11 small-centered columns" style="padding: 0.5em">
		<h3 style="color:grey">Sign-in</h3>

		<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		  <%= devise_error_messages! %>

		  <div><%= f.label :email, style: "color:grey" %><br />
		  <%= f.email_field :email, autofocus: true, class: "radius" %></div>

		  <div><%= f.label :password, style: "color:grey" %><br />
		  <%= f.password_field :password, autocomplete: "off", class: "radius" %></div>

		  <div><%= f.check_box :remember_me %> <%= f.label :remember_me, style: "color:grey" %></div>

		  <div><%= f.submit "Sign in", class:"button success small radius" %></div>

		<% end %>
	</div>
</div>