<div>
<p>
  <a href="/profiles?id=<%= set_challenge_comment.user.id %>", target="_blank">	
	<% if set_challenge_comment.user.profile.avatar.blank? %>
		<%= image_tag("noavatar.gif", size:"35x35", alt: "No avatar") %>
	<% else %>
		<%= image_tag(set_challenge_comment.user.profile.avatar_url(:thumb).to_s, size: "35x35") if set_challenge_comment.user.profile.avatar? %>
	<% end %>	
  </a>
	<b><%= set_challenge_comment.user.name %></b> -- <%= set_challenge_comment.comment %>
</div>