<div class="row">
	<br/>
	<div id="map"></div>
	<div class="large_6 columns" id="meetme"><%= render "meetup_pages/meetup" %></div>
	<div class="large_6 columns" id="dateinvite"><%= render "meetup_pages/date_invite" %></div>
	<div class="large_6 columns" id="friendmeetup"><%= render "meetup_pages/friend_meetup" %></div>
	<div class="large_6 columns" id="receive"><%= render "meetup_pages/req" %></div>
	<div class="large_6 columns" id="refme"><%= render "meetup_pages/ref" %></div>
</div>